# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
/.idea.Game.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\razzerone\Documents\game\Game\.idea\.idea.Game.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
